@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Palanquin:wght@300;400;500;600&display=swap');

body {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 70%;
    background-color: #F2E9DC;
    font-family: 'Palanquin', sans-serif;
    border: #732C2C solid 2px;
}

header {
    width: 100%;
    top: 0;
}

h1, h2 {
    font-family: 'Lora', serif;
    color: #4D685A;
    font-style: italic;
}

h3, h4 { 
    color: #732C2C;
}

h1 {
    font-size: 5em;
    text-align: center;

}

main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    background-color: #F2E9DC;
}

.figure {
    width: 100%;
    right:0;

}

img {
    border-radius: 50%;
    width: 65%;
    display:block;
    margin-right: auto;
    margin-left: auto;
}

.content {
    text-align: left;
    background-color: #F2E9DC;
    padding-left: 2em;
}

section {
    margin-top: 2em;
    margin-bottom: 2em;
    border:  2px solid;
    height: auto;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 1em;
    border: #b48a8a 1px solid;
}


.navigation {
    padding:0;
    margin:0;
    list-style:none;
    display: flex;
    width:100%;
    font-size: large;
    justify-content: space-evenly;
    background-color: #732C2C;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

.navigation > li > a {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    color: #F2E9DC;
} 



a {
    text-decoration: none;
    color: #732C2C;
}

a:hover {
    font-style: italic;
    color: #91C499;
}

a:visited {
    text-decoration: none;
}

.education {
    display: flex;
    justify-content: center;
}

#skills {
    margin-top: 1em;
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

table > tr > td {
    padding-left: 2em;
}

.important-points {
    margin-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
}